In [165]:
from dotenv import load_dotenv
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import sys
sys.path.append("../scripts/")  # Add the scripts folder to the path

In [166]:
from load_data import load_data_from_postgres, load_data_using_sqlalchemy
from sql_queries import execute_telecom_queries

In [167]:
# Load environment variables from .env file
load_dotenv()

# Fetch database connection parameters from environment variables
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

In [168]:
# Define your SQL query
query = "SELECT * FROM xdr_data;"

# Load data from PostgreSQL using SQLAlchemy
df = load_data_using_sqlalchemy(query)

# Display the first few rows of the dataframe
if df is not None:
    print("Successfully loaded the data")
else:
    print("Failed to load data.")

Successfully loaded the data

In [169]:
# Display the first few rows
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [170]:
df.size

8250055

In [171]:
df.shape

(150001, 55)

In [172]:
df.dtypes

Bearer Id                                   float64
Start                                        object
Start ms                                    float64
End                                          object
End ms                                      float64
Dur. (ms)                                   float64
IMSI                                        float64
MSISDN/Number                               float64
IMEI                                        float64
Last Location Name                           object
Avg RTT DL (ms)                             float64
Avg RTT UL (ms)                             float64
Avg Bearer TP DL (kbps)                     float64
Avg Bearer TP UL (kbps)                     float64
TCP DL Retrans. Vol (Bytes)                 float64
TCP UL Retrans. Vol (Bytes)                 float64
DL TP < 50 Kbps (%)                         float64
50 Kbps < DL TP < 250 Kbps (%)              float64
250 Kbps < DL TP < 1 Mbps (%)               float64
DL TP > 1 Mbps (%)                          float64
UL TP < 10 Kbps (%)                         float64
10 Kbps < UL TP < 50 Kbps (%)               float64
50 Kbps < UL TP < 300 Kbps (%)              float64
UL TP > 300 Kbps (%)                        float64
HTTP DL (Bytes)                             float64
HTTP UL (Bytes)                             float64
Activity Duration DL (ms)                   float64
Activity Duration UL (ms)                   float64
Dur. (ms).1                                 float64
Handset Manufacturer                         object
Handset Type                                 object
Nb of sec with 125000B < Vol DL             float64
Nb of sec with 1250B < Vol UL < 6250B       float64
Nb of sec with 31250B < Vol DL < 125000B    float64
Nb of sec with 37500B < Vol UL              float64
Nb of sec with 6250B < Vol DL < 31250B      float64
Nb of sec with 6250B < Vol UL < 37500B      float64
Nb of sec with Vol DL < 6250B               float64
Nb of sec with Vol UL < 1250B               float64
Social Media DL (Bytes)                     float64
Social Media UL (Bytes)                     float64
Google DL (Bytes)                           float64
Google UL (Bytes)                           float64
Email DL (Bytes)                            float64
Email UL (Bytes)                            float64
Youtube DL (Bytes)                          float64
Youtube UL (Bytes)                          float64
Netflix DL (Bytes)                          float64
Netflix UL (Bytes)                          float64
Gaming DL (Bytes)                           float64
Gaming UL (Bytes)                           float64
Other DL (Bytes)                            float64
Other UL (Bytes)                            float64
Total UL (Bytes)                            float64
Total DL (Bytes)                            float64
dtype: object

In [173]:
# List of columns to analyze
columns = ['Last Location Name', 'Handset Manufacturer', 'Handset Type']

# Calculate the number of unique values for each column
unique_values = df[columns].nunique()

# Display the result
print(unique_values)

Last Location Name      45547
Handset Manufacturer      170
Handset Type             1396
dtype: int64

In [174]:
# Check for differences within a small tolerance
tolerance = 1e-6
differences = df[abs(df['Dur. (ms).1'] - df['Dur. (ms)']) > tolerance]

print(f"Number of differing rows within tolerance: {len(differences)}")

Number of differing rows within tolerance: 150000

In [175]:
print(df.columns)

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [176]:
scaling_factor = df['Dur. (ms).1'] / df['Dur. (ms)']
print(scaling_factor.unique())

[1000.00048913 1000.00027177 1000.00047806 ... 1000.00536392 1000.00644469
           nan]

In [177]:
# Drop Dur. (ms) and keep Dur. (ms).1
df.drop(columns=['Dur. (ms)'], inplace=True)

In [178]:
print(df.columns)

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [179]:
#Rename the Remaining Column
df.rename(columns={'Dur. (ms).1': 'Dur. (ms)'}, inplace=True)
print(df.columns)

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms)', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [180]:
# Convert ID-like fields to strings or objects
id_columns = ['Bearer Id', 'IMSI', 'MSISDN/Number', 'IMEI']
df[id_columns] = df[id_columns].astype('object')

# Convert timestamp fields to datetime
timestamp_columns = ['Start', 'End']
df[timestamp_columns] = df[timestamp_columns].apply(pd.to_datetime)


# Convert text-based columns to category if appropriate
text_columns = ['Handset Manufacturer', 'Handset Type']
df[text_columns] = df[text_columns].astype('category')

In [181]:
df.dtypes

Bearer Id                                           object
Start                                       datetime64[ns]
Start ms                                           float64
End                                         datetime64[ns]
End ms                                             float64
IMSI                                                object
MSISDN/Number                                       object
IMEI                                                object
Last Location Name                                  object
Avg RTT DL (ms)                                    float64
Avg RTT UL (ms)                                    float64
Avg Bearer TP DL (kbps)                            float64
Avg Bearer TP UL (kbps)                            float64
TCP DL Retrans. Vol (Bytes)                        float64
TCP UL Retrans. Vol (Bytes)                        float64
DL TP < 50 Kbps (%)                                float64
50 Kbps < DL TP < 250 Kbps (%)                     float64
250 Kbps < DL TP < 1 Mbps (%)                      float64
DL TP > 1 Mbps (%)                                 float64
UL TP < 10 Kbps (%)                                float64
10 Kbps < UL TP < 50 Kbps (%)                      float64
50 Kbps < UL TP < 300 Kbps (%)                     float64
UL TP > 300 Kbps (%)                               float64
HTTP DL (Bytes)                                    float64
HTTP UL (Bytes)                                    float64
Activity Duration DL (ms)                          float64
Activity Duration UL (ms)                          float64
Dur. (ms)                                          float64
Handset Manufacturer                              category
Handset Type                                      category
Nb of sec with 125000B < Vol DL                    float64
Nb of sec with 1250B < Vol UL < 6250B              float64
Nb of sec with 31250B < Vol DL < 125000B           float64
Nb of sec with 37500B < Vol UL                     float64
Nb of sec with 6250B < Vol DL < 31250B             float64
Nb of sec with 6250B < Vol UL < 37500B             float64
Nb of sec with Vol DL < 6250B                      float64
Nb of sec with Vol UL < 1250B                      float64
Social Media DL (Bytes)                            float64
Social Media UL (Bytes)                            float64
Google DL (Bytes)                                  float64
Google UL (Bytes)                                  float64
Email DL (Bytes)                                   float64
Email UL (Bytes)                                   float64
Youtube DL (Bytes)                                 float64
Youtube UL (Bytes)                                 float64
Netflix DL (Bytes)                                 float64
Netflix UL (Bytes)                                 float64
Gaming DL (Bytes)                                  float64
Gaming UL (Bytes)                                  float64
Other DL (Bytes)                                   float64
Other UL (Bytes)                                   float64
Total UL (Bytes)                                   float64
Total DL (Bytes)                                   float64
dtype: object

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 54 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  object
 1   Start                                     150000 non-null  datetime64[ns]
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  datetime64[ns]
 4   End ms                                    150000 non-null  float64
 5   IMSI                                      149431 non-null  object
 6   MSISDN/Number                             148935 non-null  object
 7   IMEI                                      149429 non-null  object
 8   Last Location Name                        148848 non-null  object
 9   Avg RTT DL (ms)                           122172 non-null  float64
 10  Avg RTT UL (ms)                           122189 non-null  float64
 11  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 12  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 13  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 14  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 15  DL TP < 50 Kbps (%)                       149247 non-null  float64
 16  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 17  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 18  DL TP > 1 Mbps (%)                        149247 non-null  float64
 19  UL TP < 10 Kbps (%)                       149209 non-null  float64
 20  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 21  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 22  UL TP > 300 Kbps (%)                      149209 non-null  float64
 23  HTTP DL (Bytes)                           68527 non-null   float64
 24  HTTP UL (Bytes)                           68191 non-null   float64
 25  Activity Duration DL (ms)                 150000 non-null  float64
 26  Activity Duration UL (ms)                 150000 non-null  float64
 27  Dur. (ms)                                 150000 non-null  float64
 28  Handset Manufacturer                      149429 non-null  category
 29  Handset Type                              149429 non-null  category
 30  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 31  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 32  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 33  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 34  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 35  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 36  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 37  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 38  Social Media DL (Bytes)                   150001 non-null  float64
 39  Social Media UL (Bytes)                   150001 non-null  float64
 40  Google DL (Bytes)                         150001 non-null  float64
 41  Google UL (Bytes)                         150001 non-null  float64
 42  Email DL (Bytes)                          150001 non-null  float64
 43  Email UL (Bytes)                          150001 non-null  float64
 44  Youtube DL (Bytes)                        150001 non-null  float64
 45  Youtube UL (Bytes)                        150001 non-null  float64
 46  Netflix DL (Bytes)                        150001 non-null  float64
 47  Netflix UL (Bytes)                        150001 non-null  float64
 48  Gaming DL (Bytes)                         150001 non-null  float64
 49  Gaming UL (Bytes)                         150001 non-null  float64
 50  Other DL (Bytes)                          150001 non-null  float64
 51  Other UL (Bytes)                          150001 non-null  float64
 52  Total UL (Bytes)                          150000 non-null  float64
 53  Total DL (Bytes)                          150000 non-null  float64
dtypes: category(2), datetime64[ns](2), float64(45), object(5)
memory usage: 60.1+ MB

In [183]:
df.describe()

,Start,Start ms,End,End ms,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,150000,150000.000000,150000,150000.000000,122172.000000,122189.000000,150000.000000,150000.000000,6.185500e+04,5.335200e+04,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,2019-04-26 12:36:09.616800256,499.188200,2019-04-27 17:39:38.703200256,498.800880,109.795706,17.662883,13300.045927,1770.428647,2.080991e+07,7.596587e+05,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
min,2019-04-04 12:01:00,0.000000,2019-04-24 22:59:00,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000e+00,1.000000e+00,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,2019-04-25 00:26:00,250.000000,2019-04-26 07:30:00,251.000000,32.000000,2.000000,43.000000,47.000000,3.565150e+04,4.694750e+03,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,2019-04-26 08:51:00,499.000000,2019-04-27 23:02:00,500.000000,45.000000,5.000000,63.000000,63.000000,5.687300e+05,2.094950e+04,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,2019-04-27 18:18:15,749.000000,2019-04-29 07:15:00,750.000000,70.000000,15.000000,19710.750000,1120.000000,3.768308e+06,8.402025e+04,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,2019-04-29 07:28:00,999.000000,2019-04-30 23:59:00,999.000000,96923.000000,7120.000000,378160.000000,58613.000000,4.294426e+09,2.908226e+09,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08
std,NaN,288.611834,NaN,288.097653,619.782739,84.793524,23971.878541,4625.355500,1.825665e+08,2.645305e+07,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08

In [184]:
df[['Handset Manufacturer', 'Handset Type']].describe()

       Handset Manufacturer      Handset Type
count                149429            149429
unique                  170              1396
top                   Apple  Huawei B528S-23A
freq                  59565             19752

In [185]:
#Dropping Columns with Single Value
data_single=df.copy()
single_value_columns = pd.DataFrame(data_single.apply(lambda x: len(x.value_counts()), axis=0), columns=['SingleValueColumn'])
drop_single_value_columns = list(single_value_columns.loc[single_value_columns['SingleValueColumn']==1].index)
print('Columns which have just a single value => \n\n' + str(drop_single_value_columns))
df.drop(drop_single_value_columns, axis=1, inplace=True)
print('\n\nRemaining Columns => ' + str(len(df.columns)))

Columns which have just a single value =>

[]


Remaining Columns => 54

In [186]:
#dropping Columns with All Different Values
data_diff=df.copy()
alldiff_value_columns = pd.DataFrame(data_diff.apply(lambda x: len(x.value_counts()), axis=0), columns=['AllDiffValueColumn'])
drop_alldiff_value_columns = list(alldiff_value_columns.loc[alldiff_value_columns['AllDiffValueColumn']==len(df.index)].index)
print('Columns which have all values different => \n\n' + str(drop_alldiff_value_columns))
df.drop(drop_alldiff_value_columns, axis=1, inplace=True)
print('\n\nRemaining Columns => ' + str(len(df.columns)))

Columns which have all values different =>

[]


Remaining Columns => 54

In [187]:
# Check for missing values
df.isnull().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms)                                        1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [188]:
#Calculates the percentage of missing values in each column and sorts them in descending order
round(100*(df.isnull().sum(axis=0)/len(df.index)), 2).sort_values(ascending=False)

Nb of sec with 37500B < Vol UL              86.84
Nb of sec with 6250B < Vol UL < 37500B      74.56
Nb of sec with 125000B < Vol DL             65.02
TCP UL Retrans. Vol (Bytes)                 64.43
Nb of sec with 31250B < Vol DL < 125000B    62.39
Nb of sec with 1250B < Vol UL < 6250B       61.93
Nb of sec with 6250B < Vol DL < 31250B      58.88
TCP DL Retrans. Vol (Bytes)                 58.76
HTTP UL (Bytes)                             54.54
HTTP DL (Bytes)                             54.32
Avg RTT DL (ms)                             18.55
Avg RTT UL (ms)                             18.54
Last Location Name                           0.77
MSISDN/Number                                0.71
Bearer Id                                    0.66
UL TP < 10 Kbps (%)                          0.53
50 Kbps < UL TP < 300 Kbps (%)               0.53
10 Kbps < UL TP < 50 Kbps (%)                0.53
UL TP > 300 Kbps (%)                         0.53
Nb of sec with Vol UL < 1250B                0.53
DL TP > 1 Mbps (%)                           0.50
250 Kbps < DL TP < 1 Mbps (%)                0.50
50 Kbps < DL TP < 250 Kbps (%)               0.50
DL TP < 50 Kbps (%)                          0.50
Nb of sec with Vol DL < 6250B                0.50
Handset Type                                 0.38
Handset Manufacturer                         0.38
IMSI                                         0.38
IMEI                                         0.38
Start ms                                     0.00
Avg Bearer TP DL (kbps)                      0.00
Avg Bearer TP UL (kbps)                      0.00
End                                          0.00
End ms                                       0.00
Start                                        0.00
Activity Duration UL (ms)                    0.00
Activity Duration DL (ms)                    0.00
Dur. (ms)                                    0.00
Social Media DL (Bytes)                      0.00
Social Media UL (Bytes)                      0.00
Google DL (Bytes)                            0.00
Google UL (Bytes)                            0.00
Email DL (Bytes)                             0.00
Email UL (Bytes)                             0.00
Youtube DL (Bytes)                           0.00
Youtube UL (Bytes)                           0.00
Netflix DL (Bytes)                           0.00
Netflix UL (Bytes)                           0.00
Gaming DL (Bytes)                            0.00
Gaming UL (Bytes)                            0.00
Other DL (Bytes)                             0.00
Other UL (Bytes)                             0.00
Total UL (Bytes)                             0.00
Total DL (Bytes)                             0.00
dtype: float64

In [189]:
# Count of duplicates
df.duplicated().value_counts()

False    150001
Name: count, dtype: int64

In [190]:
#Counts the number of missing values in each row
df.isnull().sum(axis=1)

0         10
1         10
2         12
3         12
4         12
          ..
149996    10
149997    10
149998    10
149999    10
150000    40
Length: 150001, dtype: int64

In [191]:
#Calculates the percentage of missing values in each row and sorts them in descending order.
round(100*(df.isnull().sum(axis=1)/len(df.index)), 2).sort_values(ascending=False)

150000    0.03
23552     0.02
13036     0.02
31166     0.02
34183     0.02
          ...
84648     0.00
84645     0.00
84641     0.00
84670     0.00
84669     0.00
Length: 150001, dtype: float64

In [192]:
#Filter rows with more than 17 missing values
df[df.isnull().sum(axis=1) >17 ]

,Bearer Id,Start,Start ms,End,End ms,IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
4207,NaN,2019-04-24 14:50:00,274.0,2019-04-25 00:21:00,514.0,NaN,NaN,NaN,None,NaN,...,1.916335e+07,1.676094e+07,1.589242e+06,1.720474e+07,1.156853e+07,6.152100e+05,4.771721e+08,1.324574e+07,52556607.0,45044979.0
5457,NaN,2019-04-24 10:06:00,584.0,2019-04-25 00:11:00,358.0,NaN,NaN,NaN,None,NaN,...,1.525902e+07,2.059878e+07,3.790427e+06,1.912646e+07,6.688993e+08,1.499422e+07,2.797914e+08,7.600203e+06,63878179.0,696948411.0
6085,7277825654249889792.0,2019-04-24 11:18:00,538.0,2019-04-25 00:08:00,339.0,208201904493131.0,33628784076.0,35725208725710.0,None,NaN,...,1.832995e+07,9.006635e+06,1.265831e+07,6.917377e+06,3.174031e+08,1.084563e+07,2.215847e+08,5.030524e+06,34092792.0,358829471.0
6985,NaN,2019-04-24 13:02:00,585.0,2019-04-25 04:08:00,29.0,NaN,NaN,NaN,None,NaN,...,1.536046e+07,1.525185e+07,2.237790e+07,7.622937e+06,4.227835e+08,6.744825e+06,5.208940e+07,8.204020e+06,40030355.0,470533304.0
6993,7349883248194010112.0,2019-04-24 13:02:00,893.0,2019-04-24 23:52:00,111.0,208201715253178.0,33660389345.0,86778702545699.0,None,NaN,...,2.650696e+06,2.246060e+05,2.785876e+06,2.034908e+07,2.917886e+08,1.731621e+06,4.514296e+08,3.408783e+06,25987241.0,302086505.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148810,NaN,2019-04-29 07:14:00,456.0,2019-04-30 06:23:00,492.0,NaN,NaN,NaN,None,NaN,...,1.560789e+07,1.565180e+07,7.191123e+06,9.125542e+06,5.150658e+08,1.422306e+07,6.023466e+08,1.605611e+06,45283727.0,549026287.0
149059,NaN,2019-04-29 07:18:00,358.0,2019-04-30 00:11:00,376.0,NaN,NaN,NaN,None,NaN,...,6.873677e+06,1.427194e+07,1.365214e+07,1.852828e+07,6.063120e+08,1.483046e+07,5.459522e+08,1.882888e+06,54158393.0,634174785.0
149090,7349883264100840448.0,2019-04-29 07:18:00,498.0,2019-04-30 00:14:00,900.0,208202101297302.0,NaN,35962008247199.0,T14478A,NaN,...,1.472172e+07,1.180267e+07,1.427289e+07,1.694177e+07,2.491397e+07,1.422218e+07,1.469236e+08,6.590809e+06,52857876.0,61992006.0
149206,NaN,2019-04-29 07:20:00,182.0,2019-04-30 00:24:00,834.0,NaN,NaN,NaN,None,NaN,...,2.211622e+07,1.838540e+07,1.015965e+07,4.973486e+06,4.375109e+08,1.588545e+07,2.091552e+08,8.330388e+06,51913246.0,480370571.0
150000,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,None,NaN,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,NaN,NaN

In [ ]:
#Drop Rows with Too Many Missing Values
threshold = 17
df = df[df.isnull().sum(axis=1) <= threshold]
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 44 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       149010 non-null  object
 1   Start                           150000 non-null  datetime64[ns]
 2   Start ms                        150000 non-null  float64
 3   End                             150000 non-null  datetime64[ns]
 4   End ms                          150000 non-null  float64
 5   IMSI                            149431 non-null  object
 6   MSISDN/Number                   148935 non-null  object
 7   IMEI                            149429 non-null  object
 8   Last Location Name              148848 non-null  object
 9   Avg RTT DL (ms)                 122172 non-null  float64
 10  Avg RTT UL (ms)                 122189 non-null  float64
 11  Avg Bearer TP DL (kbps)         150000 non-null  float64
 12  Avg Bearer TP UL (kbps)         150000 non-null  float64
 13  DL TP < 50 Kbps (%)             149247 non-null  float64
 14  50 Kbps < DL TP < 250 Kbps (%)  149247 non-null  float64
 15  250 Kbps < DL TP < 1 Mbps (%)   149247 non-null  float64
 16  DL TP > 1 Mbps (%)              149247 non-null  float64
 17  UL TP < 10 Kbps (%)             149209 non-null  float64
 18  10 Kbps < UL TP < 50 Kbps (%)   149209 non-null  float64
 19  50 Kbps < UL TP < 300 Kbps (%)  149209 non-null  float64
 20  UL TP > 300 Kbps (%)            149209 non-null  float64
 21  Activity Duration DL (ms)       150000 non-null  float64
 22  Activity Duration UL (ms)       150000 non-null  float64
 23  Dur. (ms)                       150000 non-null  float64
 24  Handset Manufacturer            149429 non-null  category
 25  Handset Type                    149429 non-null  category
 26  Nb of sec with Vol DL < 6250B   149246 non-null  float64
 27  Nb of sec with Vol UL < 1250B   149208 non-null  float64
 28  Social Media DL (Bytes)         150001 non-null  float64
 29  Social Media UL (Bytes)         150001 non-null  float64
 30  Google DL (Bytes)               150001 non-null  float64
 31  Google UL (Bytes)               150001 non-null  float64
 32  Email DL (Bytes)                150001 non-null  float64
 33  Email UL (Bytes)                150001 non-null  float64
 34  Youtube DL (Bytes)              150001 non-null  float64
 35  Youtube UL (Bytes)              150001 non-null  float64
 36  Netflix DL (Bytes)              150001 non-null  float64
 37  Netflix UL (Bytes)              150001 non-null  float64
 38  Gaming DL (Bytes)               150001 non-null  float64
 39  Gaming UL (Bytes)               150001 non-null  float64
 40  Other DL (Bytes)                150001 non-null  float64
 41  Other UL (Bytes)                150001 non-null  float64
 42  Total UL (Bytes)                150000 non-null  float64
 43  Total DL (Bytes)                150000 non-null  float64
dtypes: category(2), datetime64[ns](2), float64(35), object(5)
memory usage: 48.7+ MB
None

In [193]:
# Columns with > 50% missing values
high_missing_cols = [
    "Nb of sec with 37500B < Vol UL",
    "Nb of sec with 6250B < Vol UL < 37500B",
    "Nb of sec with 125000B < Vol DL",
    "TCP UL Retrans. Vol (Bytes)",
    "Nb of sec with 31250B < Vol DL < 125000B",
    "Nb of sec with 1250B < Vol UL < 6250B",
    "Nb of sec with 6250B < Vol DL < 31250B",
    "TCP DL Retrans. Vol (Bytes)",
    "HTTP UL (Bytes)",
    "HTTP DL (Bytes)"
]
# Drop unnecessary columns
df.drop(columns=high_missing_cols, inplace=True)

# Verify the remaining columns
print(df.info())

(149841, 54)

In [ ]:
num_rows_with_many_missing = (df.isnull().sum(axis=1) > threshold).sum()
print(f"Rows with more than {threshold} missing values: {num_rows_with_many_missing}")

In [159]:
# Handle Missing Values
df.fillna(df.mean(numeric_only=True), inplace=True)

In [160]:
# Treating Outliers - Replace with Mean
#Outliers capped using 99th percentile and replaced with mean values
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
for col in numeric_columns:
    df[col] = np.where(df[col] > df[col].quantile(0.99), df[col].mean(), df[col])

In [161]:
# Check for missing values
df.isnull().sum()

Bearer Id                          990
Start                                0
Start ms                             0
End                                  0
End ms                               0
IMSI                               569
MSISDN/Number                     1065
IMEI                               571
Last Location Name                1152
Avg RTT DL (ms)                      0
Avg RTT UL (ms)                      0
Avg Bearer TP DL (kbps)              0
Avg Bearer TP UL (kbps)              0
DL TP < 50 Kbps (%)                  0
50 Kbps < DL TP < 250 Kbps (%)       0
250 Kbps < DL TP < 1 Mbps (%)        0
DL TP > 1 Mbps (%)                   0
UL TP < 10 Kbps (%)                  0
10 Kbps < UL TP < 50 Kbps (%)        0
50 Kbps < UL TP < 300 Kbps (%)       0
UL TP > 300 Kbps (%)                 0
Activity Duration DL (ms)            0
Activity Duration UL (ms)            0
Dur. (ms)                            0
Handset Manufacturer               571
Handset Type                       571
Nb of sec with Vol DL < 6250B        0
Nb of sec with Vol UL < 1250B        0
Social Media DL (Bytes)              0
Social Media UL (Bytes)              0
Google DL (Bytes)                    0
Google UL (Bytes)                    0
Email DL (Bytes)                     0
Email UL (Bytes)                     0
Youtube DL (Bytes)                   0
Youtube UL (Bytes)                   0
Netflix DL (Bytes)                   0
Netflix UL (Bytes)                   0
Gaming DL (Bytes)                    0
Gaming UL (Bytes)                    0
Other DL (Bytes)                     0
Other UL (Bytes)                     0
Total UL (Bytes)                     0
Total DL (Bytes)                     0
dtype: int64

In [162]:
#Counts the number of missing values in each row
df.isnull().sum(axis=1)

0         0
1         0
2         0
3         0
4         0
         ..
149995    0
149996    0
149997    0
149998    0
149999    0
Length: 150000, dtype: int64

In [163]:
#Filter rows with more than 17 missing values
df[df.isnull().sum(axis=1) >1]

,Bearer Id,Start,Start ms,End,End ms,IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
254,NaN,2019-04-24 20:08:00,170.0,2019-04-25 01:45:00,170.0,NaN,NaN,NaN,None,39.000000,...,8.829710e+06,1477432.0,2186589.0,18113094.0,358896480.0,1749997.0,749642316.0,14010369.0,36140598.0,376306114.0
419,NaN,2019-04-26 08:17:00,774.0,2019-04-27 21:48:00,284.0,NaN,NaN,NaN,None,34.000000,...,1.441174e+07,13389932.0,4590492.0,12680887.0,563257029.0,10816837.0,624661261.0,14019168.0,52639663.0,590292556.0
466,NaN,2019-04-23 23:03:00,337.0,2019-04-24 23:03:00,295.0,NaN,NaN,NaN,None,113.000000,...,1.163407e+07,3840901.0,22311882.0,14982966.0,60479153.0,15850878.0,99193737.0,8689286.0,45888409.0,111555134.0
481,NaN,2019-04-23 23:14:00,657.0,2019-04-24 23:13:00,716.0,NaN,NaN,NaN,None,315.000000,...,1.977520e+07,10133324.0,2167835.0,19492173.0,132421673.0,13140026.0,614341412.0,8114983.0,54606858.0,163112548.0
506,NaN,2019-04-23 23:26:00,183.0,2019-04-24 23:26:00,668.0,NaN,NaN,NaN,None,133.000000,...,1.191700e+07,2272143.0,4789329.0,14242655.0,409799140.0,12466608.0,124215915.0,6537272.0,38304204.0,433422214.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148810,NaN,2019-04-29 07:14:00,456.0,2019-04-30 06:23:00,492.0,NaN,NaN,NaN,None,109.795706,...,1.560789e+07,15651799.0,7191123.0,9125542.0,515065799.0,14223064.0,602346620.0,1605611.0,45283727.0,549026287.0
149059,NaN,2019-04-29 07:18:00,358.0,2019-04-30 00:11:00,376.0,NaN,NaN,NaN,None,109.795706,...,6.873677e+06,14271941.0,13652142.0,18528283.0,606312011.0,14830455.0,545952229.0,1882888.0,54158393.0,634174785.0
149206,NaN,2019-04-29 07:20:00,182.0,2019-04-30 00:24:00,834.0,NaN,NaN,NaN,None,109.795706,...,2.211622e+07,18385402.0,10159653.0,4973486.0,437510932.0,15885454.0,209155230.0,8330388.0,51913246.0,480370571.0
149376,NaN,2019-04-29 07:22:00,57.0,2019-04-29 23:12:00,744.0,NaN,NaN,NaN,None,119.000000,...,1.711588e+07,20211769.0,3636843.0,20116835.0,620687223.0,254490.0,810923466.0,2158942.0,45964818.0,647579017.0
149724,NaN,2019-04-29 07:26:00,375.0,2019-04-30 06:26:00,784.0,NaN,NaN,NaN,None,105.000000,...,1.037262e+07,6450992.0,4370923.0,14310022.0,9900295.0,9923545.0,104640864.0,16019385.0,48896971.0,34880615.0

In [164]:
# Filter rows where 'Start' and 'End' are NaN but 'Dur. (ms)' is not NaN
df = df[df['Start'].isnull() & df['End'].isnull() & df['Dur. (ms)'].notnull()]